#content{
    margin-top: 3%;
}

#news_list{
    width: 65%;
    margin-left: 15%;
    float: left;
}
#welcome{
    text-align: center;
    margin-top: 2%;
}
#sidebar{
    width: 15%;
    float: right;
    text-align: center;
    margin-top: 3%;
    margin-right: 2%;
}
.sidebarinput{
    width: 60%;
}

#account_mgr{
    width: 70%;
    text-align: left;
    margin-left: 10%;
    font-size: 1.5em;
}
#account_mgr button{
    width: 80%;
    font-size: 0.75em;
}

#mgr_item{
    margin-top: 10px;
}

html{
    font-family: 'Times New Roman', Times, serif;
}

#mgr_list{
    margin-bottom: 10px;
}
#signup_page{
    position: fixed; 
    top: 0; 
    left: 0; 
    background: rgba(52, 54, 66, 0.9); 
    visibility: hidden; 
    opacity: 0; 
}

.btn{
    width: 50%;
    margin-bottom: 10px;
}

.form-control{
    width: 60%;
}
.card{
    margin-bottom: 10px;
}
.card-body p{
    margin-bottom: 5px;
}