#content{
    margin-top: 3%;
}

#news_list{
    width: 65%;
    margin-left: 15%;
    float: left;
}
#welcome{
    text-align: center;
    margin-top: 2%;
}
#sidebar{
    width: 15%;
    float: right;
    text-align: center;
    margin-top: 1%;
    margin-right: 2%;
    height: 100%;
}
.sidebarinput{
    width: 60%;
}

#account_mgr{
    width: 100%;
    margin-left: 5%;
    font-size: 1.5em;
}
/* #account_mgr button{
    width: 80%;
    font-size: 0.75em;
} */

#mgr_item{
    margin-top: 10px;
}

html{
    font-family: 'Times New Roman', Times, serif;
}

#mgr_list{
    margin-bottom: 10px;
}

.btn{
    width: 50%;
    margin-bottom: 10px;
}

.form-control{
    width: 60%;
}
.card{
    margin-bottom: 10px;
}
.card-body p{
    margin-bottom: 5px;
}
.btn btn-secondary{
    width: 80%;
}

#myModalLabel{
    text-align: center;
}