/* 内容 */

#content {
    font-family: sans-serif;
    /* 无衬线体 */
    margin-top: 5%;
}

#news_list {
    width: 65%;
    margin-left: 15%;
    float: left;
}


/* Welcome, Chuanqi */

#welcome {
    font-family: sans-serif;
    text-align: center;
    margin-top: 5%;
    /*letter-spacing: em;*/
}

#sidebar {
    width: 15%;
    text-align: center;
    position: fixed;
    left: 82%;
    top: 23%;
}

.sidebarinput {
    width: 60%;
}

#account_mgr {
    width: 100%;
    margin-left: 5%;
    font-size: 1.5em;
}


/* #account_mgr button{
    margin-bottom: 15px;
} */

#mgr_item {
    margin-top: 10px;
}

html {
    /*font-family: , Times, serif;*/
}

#mgr_list {
    margin-bottom: 10px;
}

.btn {
    width: 50%;
    margin-bottom: 10px;
}

.form-control {
    width: 60%;
}

.card {
    margin-bottom: 10px;
}

.card-body p {
    margin-bottom: 5px;
}

.btn btn-secondary {
    width: 80%;
}

#myModalLabel {
    text-align: center;
}

#confirmation_error {
    display: none;
}

.fixed {
    position: fixed;
    top: 0;
    /*z-index: 99999;*/
}
